<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/x-icon" href="../public/images/travel.png" />

  <title>
    <%=title%>
  </title>
  <link rel="stylesheet" href="../public/css/style.css">
  <!-- Bootstrap Core CSS -->
  <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- MetisMenu CSS -->
  <link href="../public/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="../public/dist/css/sb-admin-2.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="../public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div id="wrapper">

    <!-- Navigation -->
    <% include ./layout/nav%>
      <div id="page-wrapper">
        <div class="container-fluid">

          <div class="row">
            <div class="col-lg-12">
              <h4 class="page-header">Thêm địa điểm du lịch</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <label for="">Place Name</label>
              <input class="form-control form-control-sm" type="text" id="place_name" placeholder="Place Name...">
              <label for="pac-input">Address </label>
              <input class="form-control form-control-sm" id="pac-input" type="text" placeholder="Enter a location...">
              <label for="">Category</label>
              <select class="form-control form-control-sm" name="category" id="sub_category"></select>
              <label for="">Province</label>
              <select class="form-control form-control-sm" name="province" id="province"></select>
              <label for="">Phone</label>
              <input class="form-control form-control-sm" id="phone" type="text" placeholder="Number phone...">
              <label for="">Tag</label>
              <input class="form-control form-control-sm" type="text" name="tag" id="tag" placeholder="Tag...">
              <label for="">Thumbnail</label>
              <input class="form-control form-control-sm" id="thumbnail" type="text" placeholder="Thumbnail...">
              <label for="">Detail</label>
              <textarea class="form-control" id="detail" rows="5" placeholder="Detail..."></textarea>
              <!-- <input type="text" class="form-control form-control-sm" id="detail" placeholder="Detail..."> -->
              <input class="btn btn-primary" id="bt-submit" type="submit" value="Add Place">
              <div class="pac-card" id="pac-card">
                <div id="pac-container">

                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="" id="map"></div>
              <div id="infowindow-content">
                <img src="" width="16" height="16" id="place-icon">
                <span id="place-name" class="title"></span>
                <br>
                <span id="place-address"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div id="modalConfirm" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Notification</h4>
        </div>
        <div class="modal-body">
          <p>ADD place success!</p>
          <input type="hidden" id="hiddenVal">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnOk" data-dismiss="modal">OK</button>
        </div>
      </div>

    </div>
  </div>

  <!-- modal add success -->
  <div id="modalError" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Notification</h4>
        </div>
        <div class="modal-body">
          <p>ADD place fail!</p>
          <input type="hidden" id="hiddenVal">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnOk" data-dismiss="modal">OK</button>
        </div>
      </div>

    </div>
  </div>

  <script src="../public/vendor/jquery/jquery.min.js"></script>
  <script src="../public/js/add-place.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ_AZwWhIPQYTsAccJQe1yzvBM1qNNEVQ&libraries=places&callback=initMap"
    async defer></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="../public/vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Metis Menu Plugin JavaScript -->
  <script src="../public/vendor/metisMenu/metisMenu.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="../public/dist/js/sb-admin-2.js"></script>
</body>

</html>