<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Travel Suggestion</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">

</head>

<body>

    <% include ./layout/nav%>
        <div class="page-content">
            <div class="container">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Event Name</p>
                                    <input class="form-control" type="text" name="" id="event_name" placeholder="Event name...">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Detail</p>
                                    <textarea class="form-control" name="" id="detail" rows="20" placeholder="Write something about this event..."></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Thumbnail</p>
                                    <input class="form-control" type="text" name="" id="thumbnail">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pull-right">
                                    <input class="btn btn-warning btn-block" type="button" name="" id="bt-submit" value="Add Event">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="col-md-12">
                                <div class="row">
                                    <p>Address
                                        <span>*</span>
                                    </p>
                                    <input class="form-control input-sm" id="pac-input" type="text" placeholder="Address..." placeholder="Enter a place name...">
                                    <div id="google-maps">
                                        <div class="" id="map"></div>
                                        <div id="infowindow-content">
                                            <img src="" width="16" height="16" id="place-icon">
                                            <span id="place-name" class="title"></span>
                                            <br>
                                            <span id="place-address"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <p>Date</p>
                                    <div class="form-group">
                                        <div class="input-group date" id="datetimepicker1">
                                            <input type="text" id="date" class="form-control input-sm">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <p>Organization</p>
                                    <input class="form-control input-sm" type="text" name="" id="organization" placeholder="Name of organization hold event...">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <p>Province</p>
                                    <select class="form-control input-sm" name="" id="province">

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <p>Phone</p>
                                    <input class="form-control input-sm" type="text" name="" id="phone" placeholder="Number phone of organization...">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <p>Tag</p>
                                    <input class="form-control input-sm" type="text" name="" id="tag" placeholder="Tag for search...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- modal -->
        <!-- modal add place success -->
        <div id="modalConfirm" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Notification</h4>
                    </div>
                    <div class="modal-body">
                        <p>ADD event success!</p>
                        <input type="hidden" id="hiddenVal">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnOk" data-dismiss="modal">OK</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- modal add place fail -->
        <div id="modalError" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Notification</h4>
                    </div>
                    <div class="modal-body">
                        <p class="message_err">ADD event fail!</p>
                        <p id="message"></p>
                        <input type="hidden" id="hiddenVal">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnOk" data-dismiss="modal">OK</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- end modal -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.3/moment.min.js" charset="utf-8"></script>
        <script src="../assets/js/jquery-3.2.1.min.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
        <script src="https://use.fontawesome.com/a6499bd878.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ_AZwWhIPQYTsAccJQe1yzvBM1qNNEVQ&libraries=places&callback=initMap"
            async defer></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
            function initMap() {
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: {
                        lat: 15.913888,
                        lng: 107.730302
                    },
                    zoom: 6,
                    mapTypeId: google.maps.MapTypeId.HYBRID
                });
                var card = document.getElementById('pac-card');
                var input = document.getElementById('pac-input');
                var types = document.getElementById('type-selector');
                var strictBounds = document.getElementById('strict-bounds-selector');

                map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

                var autocomplete = new google.maps.places.Autocomplete(input);

                // Bind the map's bounds (viewport) property to the autocomplete object,
                // so that the autocomplete requests use the current map bounds for the
                // bounds option in the request.
                autocomplete.bindTo('bounds', map);

                var infowindow = new google.maps.InfoWindow();
                var infowindowContent = document.getElementById('infowindow-content');
                infowindow.setContent(infowindowContent);
                var marker = new google.maps.Marker({
                    map: map,
                    anchorPoint: new google.maps.Point(0, -29)
                });

                autocomplete.addListener('place_changed', function () {
                    infowindow.close();
                    marker.setVisible(false);
                    var place = autocomplete.getPlace();
                    if (!place.geometry) {
                        // User entered the name of a Place that was not suggested and
                        // pressed the Enter key, or the Place Details request failed.
                        window.alert("No details available for input: '" + place.name + "'");
                        return;
                    }

                    // If the place has a geometry, then present it on a map.
                    if (place.geometry.viewport) {
                        map.fitBounds(place.geometry.viewport);
                    } else {
                        map.setCenter(place.geometry.location);
                        map.setZoom(14); // Why 17? Because it looks good.
                    }
                    marker.setPosition(place.geometry.location);
                    marker.setVisible(true);

                    var address = '';
                    if (place.address_components) {
                        address = [
                            (place.address_components[0] && place.address_components[0].short_name || ''),
                            (place.address_components[1] && place.address_components[1].short_name || ''),
                            (place.address_components[2] && place.address_components[2].short_name || '')
                        ].join(' ');
                    }

                    infowindowContent.children['place-icon'].src = place.icon;
                    infowindowContent.children['place-name'].textContent = place.name;
                    infowindowContent.children['place-address'].textContent = address;
                    infowindow.open(map, marker);
                });
            }

            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#dismiss, .overlay').on('click', function () {
                    $('#sidebar').removeClass('active');
                    $('.overlay').fadeOut();
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').addClass('active');
                    $('.overlay').fadeIn();
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });

                //select province
                $.get('http://tlsg.tk/api/province/list', function (data, status) {
                    var i = 0;
                    $.each(data, function (key, value) {
                        $('#province')
                            .append($("<option></option>")
                                .attr("value", data[i]._id)
                                .text(data[i].province_name));
                        i++;
                    });

                });

                $('#bt-submit').click(function () {
                    let a = $('#event_name').val();
                    let b = $('#detail').val();
                    let c = $('#tag').val();
                    let d = $('#phone').val();
                    let e = $('#organization').val();
                    let f = $('#date').val();
                    let g = $('#pac-input').val();
                    let h = $('#thumbnail').val();
                    let k = $('#province').val();


                    console.log(a + ' ' + b + ' ' + c + ' ' + d + ' ' + e + ' ' + f + ' ' + g + ' ' + h);

                    $.post('http://tlsg.tk/api/event/add', {
                        event_name: a,
                        address: g,
                        detail: b,
                        thumbnail: h,
                        organization_day: f,
                        organization: e,
                        phone: d,
                        tag: c,
                        province_id: k,
                        token: '6ba2b9df31680dcda5a4a083'

                    }, function (data, status) {
                        console.log(data);
                        if (data.status == 200) {
                            $('#modalConfirm').modal('show');
                            $('#modalConfirm').on('click', '#btnOk', function () {
                                window.location.replace('http://tlsg.tk/admin/add-event');
                                
                            });

                        } else {
                            console.log(data);
                            $('#message').text(data.error);
                            $('#modalError').modal('show');
                            $('#modalError').on('click', '#btOk', function () {
                            });
                        }
                    });
                });
            });


        </script>
</body>

</html>