<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title%></title>
  <!-- Bootstrap Core CSS -->
  <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="../public/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../public/dist/css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <script src="../public/vendor/jquery/jquery.min.js"></script>

  <style>
    /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */

    #map {
      height: 500px;
      margin-bottom: 20px;
      margin-top: 10px;
    }

    /* Optional: Makes the sample page fill the window. */

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #description {
      font-family: Roboto;
      font-size: 15px;
      font-weight: 300;
    }

    #infowindow-content .title {
      font-weight: bold;
    }

    #infowindow-content {
      display: none;
    }

    #map #infowindow-content {
      display: inline;
    }

    .pac-controls label {
      font-family: Roboto;
      font-size: 13px;
      font-weight: 300;
    }

    #pac-input:focus {
      border-color: #4d90fe;
    }

    #bt-submit{
      margin-top: 10px;
    }
  </style>
</head>

<body>

  <div id="wrapper">

    <!-- Navigation -->
    <% include ./layout/nav%>
      <div id="page-wrapper">
        <div class="container-fluid">

          <div class="row">
            <div class="col-lg-12">
              <h4 class="page-header">Thêm địa điểm du lịch</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <label for="">Place Name</label>
              <input class="form-control form-control-sm" type="text" id="name-place" placeholder="Place Name...">
              <label for="pac-input">Address </label>
              <input class="form-control form-control-sm" id="pac-input" type="text" placeholder="Enter a location...">
              <label for="">Category</label>
              <select class="form-control form-control-sm" name="category" id="category"></select>
              <label for="">Province</label>
              <select class="form-control form-control-sm" name="province" id="province"></select>
              <label for="">Phone</label>
              <input class="form-control form-control-sm" id="phone" type="text" placeholder="Number phone...">
              <label for="">Tag</label>
              <input class="form-control form-control-sm" type="text" name="tag" id="tag" placeholder="Tag...">
              <label for="">Thumbnail</label>
              <input class="form-control form-control-sm" type="text" placeholder="thumbnail">
              <input class="btn btn-primary"  id="bt-submit" type="button" value="Add Place">
              <div class="pac-card" id="pac-card">
                <div id="pac-container">

                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="" id="map"></div>
              <div id="infowindow-content">
                <img src="" width="16" height="16" id="place-icon">
                <span id="place-name" class="title"></span>
                <br>
                <span id="place-address"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


  <script>
 
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {
          lat: 15.913888,
          lng: 107.730302
        },
        zoom: 6,
        mapTypeId: google.maps.MapTypeId.HYBRID
      });
      var card = document.getElementById('pac-card');
      var input = document.getElementById('pac-input');
      var types = document.getElementById('type-selector');
      var strictBounds = document.getElementById('strict-bounds-selector');

      map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

      var autocomplete = new google.maps.places.Autocomplete(input);

      // Bind the map's bounds (viewport) property to the autocomplete object,
      // so that the autocomplete requests use the current map bounds for the
      // bounds option in the request.
      autocomplete.bindTo('bounds', map);

      var infowindow = new google.maps.InfoWindow();
      var infowindowContent = document.getElementById('infowindow-content');
      infowindow.setContent(infowindowContent);
      var marker = new google.maps.Marker({
        map: map,
        anchorPoint: new google.maps.Point(0, -29)
      });

      autocomplete.addListener('place_changed', function () {
        infowindow.close();
        marker.setVisible(false);
        var place = autocomplete.getPlace();
        if (!place.geometry) {
          // User entered the name of a Place that was not suggested and
          // pressed the Enter key, or the Place Details request failed.
          window.alert("No details available for input: '" + place.name + "'");
          return;
        }

        // If the place has a geometry, then present it on a map.
        if (place.geometry.viewport) {
          map.fitBounds(place.geometry.viewport);
        } else {
          map.setCenter(place.geometry.location);
          map.setZoom(14); // Why 17? Because it looks good.
        }
        marker.setPosition(place.geometry.location);
        marker.setVisible(true);

        var address = '';
        if (place.address_components) {
          address = [
            (place.address_components[0] && place.address_components[0].short_name || ''),
            (place.address_components[1] && place.address_components[1].short_name || ''),
            (place.address_components[2] && place.address_components[2].short_name || '')
          ].join(' ');
        }

        infowindowContent.children['place-icon'].src = place.icon;
        infowindowContent.children['place-name'].textContent = place.name;
        infowindowContent.children['place-address'].textContent = address;
        infowindow.open(map, marker);
      });
    }
    // post data form to server throught 
    $(document).ready(function(){
      $.post('')
    });
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ_AZwWhIPQYTsAccJQe1yzvBM1qNNEVQ&libraries=places&callback=initMap"
    async defer></script>




  <!-- jQuery -->
  <script src="../public/vendor/jquery/jquery.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="../public/vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Metis Menu Plugin JavaScript -->
  <script src="../public/vendor/metisMenu/metisMenu.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="../public/dist/js/sb-admin-2.js"></script>
</body>

</html>