<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../public/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://www.expertphp.in/js/jquery.form.js"></script>
    <script src="../public/vendor/jquery/jquery.min.js"></script>


</head>

<body>

    <div id="wrapper">

      <!-- Navigation -->
      <% include ./layout/nav%>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Thêm địa điểm du lịch</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

                <div class="row">
                  <form class="form-group" action="#" enctype="multipart/form-data" method="post">
                      <div class="row">
                        <div class="col-md-8">
                          <label for="">Place Names</label>
                          <input class="form-control" type="text" id="place_name" value="" placeholder="Place Names here...">
                          <label>Thumbnail </label>
                          <input class="form-control" type="text" id="thumbnail" placeholder="Link images...">
                          <!-- <input class="btn btn-default" type="text" name="thumbnail" id="thumbnail" value="Select file"> -->
                          <label>Slide images</label>
                          <input type="file" class="form-control" id="images" name="images[]" onchange="preview_images();" multiple/>
                          <div class="row" id="image_preview"></div>
                        </div>
                      </div>
                      <!-- /.row -->
                      <div class="row">
                        <div class="col-md-4">
                          <label for="">Category</label>
                          <select class="form-control" id="sub_category">

                          </select>

                          <label>Province </label>
                          <select class="input-small form-control" id="province">

                          </select>
                          <label for="">Address</label>
                          <div id="locationField">
                            <input class="form-control" id="autocomplete" placeholder="Enter address ..." onFocus="geolocate()" type="text"></input>
                          </div>
                          <label for="">Phone</label>
                          <input class="form-control" type="text" id="phone" name="" placeholder="Number phone..." value="">
                          <label for="">Tag</label>
                          <input class="form-control" type="text" id="tag" name="" placeholder="Tag..." value="">
                          <label for="">Details</label>
                          <input class="form-control" type="text" id="details" name="" placeholder="Details..." value="">
                          <script>
                            // This example displays an address form, using the autocomplete feature
                            // of the Google Places API to help users fill in the information.

                            // This example requires the Places library. Include the libraries=places
                            // parameter when you first load the API. For example:
                            // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

                            var placeSearch, autocomplete;
                            var componentForm = {
                              street_number: 'short_name',
                              route: 'long_name',
                              locality: 'long_name',
                              administrative_area_level_1: 'short_name',
                              country: 'long_name',
                              postal_code: 'short_name'
                            };

                            function initAutocomplete() {
                              // Create the autocomplete object, restricting the search to geographical
                              // location types.
                              autocomplete = new google.maps.places.Autocomplete(
                                  /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
                                  {types: ['geocode']});

                              // When the user selects an address from the dropdown, populate the address
                              // fields in the form.
                              autocomplete.addListener('place_changed', fillInAddress);
                            }

                            function fillInAddress() {
                              // Get the place details from the autocomplete object.
                              var place = autocomplete.getPlace();

                              for (var component in componentForm) {
                                document.getElementById(component).value = '';
                                document.getElementById(component).disabled = false;
                              }

                              // Get each component of the address from the place details
                              // and fill the corresponding field on the form.
                              for (var i = 0; i < place.address_components.length; i++) {
                                var addressType = place.address_components[i].types[0];
                                if (componentForm[addressType]) {
                                  var val = place.address_components[i][componentForm[addressType]];
                                  document.getElementById(addressType).value = val;
                                }
                              }
                            }

                            // Bias the autocomplete object to the user's geographical location,
                            // as supplied by the browser's 'navigator.geolocation' object.
                            function geolocate() {
                              if (navigator.geolocation) {
                                navigator.geolocation.getCurrentPosition(function(position) {
                                  var geolocation = {
                                    lat: position.coords.latitude,
                                    lng: position.coords.longitude
                                  };
                                  var circle = new google.maps.Circle({
                                    center: geolocation,
                                    radius: position.coords.accuracy
                                  });
                                  autocomplete.setBounds(circle.getBounds());
                                });
                              }
                            }

                            function preview_images()
                            {
                             var total_file=document.getElementById("images").files.length;
                             for(var i=0;i<total_file;i++)
                             {
                              $('#image_preview').append("<div class='col-md-3'><img class='img-responsive' src='"+URL.createObjectURL(event.target.files[i])+"'></div>");
                             }
                            }

                            $('#add_more').click(function() {
                               "use strict";
                               $(this).before($("<div/>", {
                                 id: 'filediv'
                               }).fadeIn('slow').append(
                                 $("<input/>", {
                                   name: 'file[]',
                                   type: 'file',
                                   id: 'file',
                                   multiple: 'multiple',
                                   accept: 'image/*'
                                 })
                               ));
                             });

                             $('#upload').click(function(e) {
                               "use strict";
                               e.preventDefault();

                               if (window.filesToUpload.length === 0 || typeof window.filesToUpload === "undefined") {
                                 alert("No files are selected.");
                                 return false;
                               }

                               // Now, upload the files below...
                               // https://developer.mozilla.org/en-US/docs/Using_files_from_web_applications#Handling_the_upload_process_for_a_file.2C_asynchronously
                             });

                             deletePreview = function (ele, i) {
                               "use strict";
                               try {
                                 $(ele).parent().remove();
                                 window.filesToUpload.splice(i, 1);
                               } catch (e) {
                                 console.log(e.message);
                               }
                             }

                             $("#file").on('change', function() {
                               "use strict";

                               // create an empty array for the files to reside.
                               window.filesToUpload = [];

                               if (this.files.length >= 1) {
                                 $("[id^=previewImg]").remove();
                                 $.each(this.files, function(i, img) {
                                   var reader = new FileReader(),
                                     newElement = $("<div id='previewImg" + i + "' class='previewBox'><img /></div>"),
                                     deleteBtn = $("<span class='delete' onClick='deletePreview(this, " + i + ")'>X</span>").prependTo(newElement),
                                     preview = newElement.find("img");

                                   reader.onloadend = function() {
                                     preview.attr("src", reader.result);
                                     preview.attr("alt", img.name);
                                   };

                                   try {
                                     window.filesToUpload.push(document.getElementById("file").files[i]);
                                   } catch (e) {
                                     console.log(e.message);
                                   }

                                   if (img) {
                                     reader.readAsDataURL(img);
                                   } else {
                                     preview.src = "";
                                   }

                                   newElement.appendTo("#filediv");
                                 });
                               }
                             });
                          </script>
                          <input class="btn btn-primary" style="margin-top:20px;" type="button" id="bt_submit" value="Thêm địa điểm">
                        </div>
                    </div>
                    <!-- /.row -->
                  </form>
                  <!-- /form -->
                </div>
                <!-- .row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script type="text/javascript">
      $(document).ready(function(){

        //select province
        $.get('http://tlsg.tk/api/province/list',function(data,status){
          var i=0;
          $.each(data, function(key, value) {
             $('#province')
                 .append($("<option></option>")
                            .attr("value",data[i]._id)
                            .text(data[i].province_name));
             i++;
          });

        });

        //select category
        $.get('http://tlsg.tk/api/category/sub-list/59e321f42a36f02f45b3fdcc',function(data,status){
          data.forEach((i) => {
            $('#sub_category')
                .append($("<option></option>")
                           .attr("value",i._id)
                           .text(i.sub_category_name));
          });


        });

        $('#bt_submit').click(function(){

          var p_n = $('#place_name').val();
          var thumb = $('#thumbnail').val();
          var img = $('#images').val();
          var p_id = $('#province').val();
          var sc_id = $('#sub_category').val();
          var addr = $('#autocomplete').val();
          var dt = $('#phone').val();
          var tg = $('#tag').val().toString();
          var details = $('#details').val();
          //
          // var place = {
          //   token:'6ba2b9df31680dcda5a4a083',
          //   sub_category_id: sc_id,
          //   province_id: p_id,
          //   thumbnail: thumb,
          //   place_name: p_n,
          //   phone: dt,
          //   address: addr,
          //   tag: tg,
          //   detail: details
          // }
          //
          // console.log(place);


          $.post('http://tlsg.tk/api//place/add',{
            'token':'6ba2b9df31680dcda5a4a083',
            'sub_category_id': sc_id,
            'province_id': p_id,
            'thumbnail': thumb,
            'place_name': p_n,
            'phone': dt,
            'address': addr,
            'tag': tg,
            'detail': details
          },function(data,status){
            //console.log(data+status);
            console.log(status);
          });

        });

        /** Add a place - parameter (add, update)
         * sub_category_id: ObjectId
         * province_id: ObjectId
         * thumbnail: String [*]
         * place_name: String
         * phone: String [*]
         * address: String
         * tag: String [*]
         * detail: String
         */
      });
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ_AZwWhIPQYTsAccJQe1yzvBM1qNNEVQ&libraries=places&callback=initAutocomplete"
       async defer></script>
    <!-- jQuery -->
    <!-- <script src="../public/vendor/jquery/jquery.min.js"></script> -->

    <!-- Bootstrap Core JavaScript -->
    <script src="../public/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../public/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../public/dist/js/sb-admin-2.js"></script>

</body>

</html>
