<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Travel Suggestion | Add news</title>

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

</head>

<body>


  <% include ./layout/nav%>
    <!-- start page content -->
    <div class="page-content">
      <div class="container">
        <!-- start row -->
        <div class="row">
          <!-- start col -->
          <div class="col-md-9">
            <div id="post-title">
              <p>Post title
                <span>*</span>
              </p>
              <input class="form-control" id="title" type="text" placeholder="Enter title here..." required>
            </div>
            <div id="summernote"></div>
          </div>
          <!-- end col -->
          <!-- start col -->
          <div class="col-md-3">
            <div class="right-sidebar">
              <div id="right-sidebar-title">
                <h4>Options</h4>
              </div>
              <!-- start row -->
              <div class="row" id="right-item-1">
                <div class="col-md-12">
                  <p>Province
                    <span>*</span>
                  </p>
                  <select class="form-control input-sm" name="" id="province" required>

                  </select>
                </div>
              </div>
              <!-- end row -->
              <!-- start row -->
              <div class="row" id="right-item-2">
                <div class="col-md-12">
                  <p>Category
                    <span>*</span>
                  </p>
                  <select class="form-control input-sm" name="" id="category" required>

                  </select>
                </div>
              </div>
              <!-- end row -->
              <!-- start row -->
              <div class="row" id="right-item-3">
                <div class="col-md-12">
                  <p>Tag</p>
                  <input type="text" id="tag" class="form-control input-sm" placeholder="Tag...">
                </div>
              </div>
              <!-- end row -->
              <!-- start row -->
              <div class="row">
                <div class="col-md-12">
                  <p>Thumbnail
                    <span>*</span>
                  </p>
                  <input id="thumbnail" class="form-control input-sm" type="text" placeholder="Link images..." required>
                </div>
              </div>
              <!-- end row -->
              <!-- start row -->
              <div class="row" id="right-item-4">
                <div class="col-md-12">
                  <input class="btn btn-primary btn-block" type="button" id="bt-submit" value="POST">
                </div>
              </div>
              <!-- end rơ -->
            </div>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->

      </div>
    </div>
    <!-- end page content -->
    <!-- modal -->
    <div id="modalConfirm" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Notification</h4>
          </div>
          <div class="modal-body">
            <p>ADD news success!</p>
            <input type="hidden" id="hiddenVal">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnOk" data-dismiss="modal">OK</button>
          </div>
        </div>

      </div>
    </div>

    <!-- modal add fail -->
    <div id="modalError" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Notification</h4>
          </div>
          <div class="modal-body">
            <p>ADD news fail!</p>
            <p id="message"></p>
            <input type="hidden" id="hiddenVal">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="btnOk" data-dismiss="modal">OK</button>
          </div>
        </div>

      </div>
    </div>
    <!-- end modal -->


    <script src="../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/a6499bd878.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        // $('#summernote').summernote();

        $('#summernote').summernote({
          height: 357,
          toolbar: [
            ['style', ['hr', 'bold', 'italic', 'underline', 'clear']],
            ['fontsize', ['fontname', 'fontsize']],
            ['color', ['color']],
            ['para', ['style', 'ul', 'ol', 'paragraph', 'height']],
            ['height', ['height']],
            ['insert', ['picture', 'link', 'video', 'table']],
            ['misc', ['fullscreen', 'codeview', 'undo', 'redo', 'help']]
          ]
        });
        // 
        $("#sidebar").mCustomScrollbar({
          theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
          $('#sidebar').removeClass('active');
          $('.overlay').fadeOut();
        });

        $('#sidebarCollapse').on('click', function () {
          $('#sidebar').addClass('active');
          $('.overlay').fadeIn();
          $('.collapse.in').toggleClass('in');
          $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

        // 

        var postForm = function () {
          var content = $('#summernote').summernote('code');
          return content;
        }

        $.get('http://tlsg.tk/api/province/list', function (data, status) {
          var i = 0;
          $.each(data, function (key, value) {
            $('#province')
              .append($("<option></option>")
                .attr("value", data[i]._id)
                .text(data[i].province_name));
            i++;
          });

        });

        $.get('http://tlsg.tk/api/category/list', function (data, status) {
          data.forEach(element => {
            $('#category')
              .append($('<option></option>')
                .attr('value', element._id)
                .text(element.category_name));

          });
        });


        $('#bt-submit').click(function () {
          let a = $('#title').val();
          let b = $('#category').val();
          let c = $('#province').val();
          let d = postForm();
          let e = $('#tag').val();
          let f = $('#thumbnail').val();
          let g = new Date();
          console.log('A: ' + a + ' B: ' + b + ' C: ' + c + ' D: ' + d + ' E:' + e + ' F:' + f + ' G:' + g);
          $.post('http://tlsg.tk/api/news/add', {
            title: a,
            category_id: b,
            province_id: c,
            content: d,
            tag: e,
            thumbnail: f,
            date: g,
            token: '6ba2b9df31680dcda5a4a083'
          }, function (data, message) {
            if (data.status == 200) {
              $('#modalConfirm').modal('show');
              $('#modalConfirm').on('click', '#btnOk', function () {
                window.location.replace('http://tlsg.tk/admin/add-news');
              });

            } else {
              $('#message').text(data.error);
              $('#modalError').modal('show');
              $('#modalError').on('click', '#btOk', function () {
              });
            }

          });
        });
      });
    </script>
</body>

</html>