<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Travel Suggestion</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

</head>

<body>


    <% include ./layout/nav%>
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input class="form-control" type="text" name="" id="txtSearch" placeholder="Search...">
                                            <i class="input-group-addon glyphicon glyphicon-search"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" name="" id="province">
                                            <option value="all">All province</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" name="" id="category">
                                            <option value="all">All Category</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" name="" id="sub_category">
                                            <option value="all">All Sub Category</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="Statistics">
                                            <div id="number-place">
                                                <p>
                                                    <span id="number_places">123</span> (Places) |
                                                    <span>
                                                        <a href="http://tlsg.tk/admin/add-place">Add new</a>
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
        <!-- pagination -->
        <div class="row" id="pagination">
                <ul class="pagination"></ul>
            </div>
                                <div class="table-responsive">
                                    <table class="table table-striped table-fit" id="tableLP">
                                        <thead>
                                            <tr>
                                                <th>Place Name</th>
                                                <th>Address</th>
                                                <th>Province</th>
                                                <th>Sub Category</th>
                                                <th>Author</th>
                                                <th>Tag</th>
                                                <!-- <th>Date</th> -->
                                                <th>Rating</th>

                                            </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                                <!-- pagination -->
        <div class="row" id="pagination">
            <ul class="pagination"></ul>
        </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
            </div>
        </div>

        <!--  -->
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Confirmation box</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure that you want to delete this place?</p>
                        <input type="hidden" id="hiddenVal">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="btnDeleteYes" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-primary" id="btnDeleteNo" data-dismiss="modal">No</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- delete success -->
        <div id="modalDeleteSuccess" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Notification</h4>
                    </div>
                    <div class="modal-body">
                        <p>Delete Success!</p>
                        <input type="hidden" id="hiddenVal">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnOk" data-dismiss="modal">OK</button>
                    </div>
                </div>

            </div>
        </div>


        <script src="../assets/js/jquery-3.2.1.min.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/a6499bd878.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script type="text/javascript" src="../assets/js/pagination.js"></script>
        <script type="text/javascript">
        (function(w) {
    w.getParameterByName = function(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    };
})(window);

            $(document).ready(function () {
                var limit = getParameterByName('limit', location);
                limit = Number(limit);
                if(limit != limit || limit == 0) limit = 40;
                var page = getParameterByName('page', location);
                page = Number(page);
                //NaN
                if(page !== page) page = 0;
                if(page !== 0) page--;


                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#dismiss, .overlay').on('click', function () {
                    $('#sidebar').removeClass('active');
                    $('.overlay').fadeOut();
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').addClass('active');
                    $('.overlay').fadeIn();
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });

                // 

                $.get(`http://tlsg.tk/api/places/list?l=${limit}&p=${page}`, function (data, status) {
                    var pages = Math.ceil(data.count / limit);
                    (new $Pagination($('.pagination'), pages, page + 1, 'page', '&limit=' + limit)).init();

                    data.places.forEach(function (el) {
                        console.log(el.ad);
                        $('#tableLP').find('tbody')
                            .append($('<tr>')

                                .append($('<td>')
                                    .html(`<div class="place-name">
                                                        ${el.place_name}
                                                    </div>
                                                    <div class="action">
                                                        <a class="btnEdit" href="http://tlsg.tk/admin/edit-place/place-id/${el._id}">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </a>
                                                        <a class="btnDelete" id="${el._id}">
                                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                        </a>
                                                    </div>`)
                                )
                                .append($('<td>')
                                    .text(el.address))
                                .append($('<td>')
                                    .text(el.province.province_name))
                                .append($('<td>')
                                    .text(el.subcategory.sub_category_name))
                                .append($('<td>')
                                    .text('Admin'))
                                .append($('<td>')
                                    .text(el.tag))
                                // .append($('<td>')
                                //     .text('30/11/2017'))
                                .append($('<td>')
                                    .text(el.rating))

                                
                            );

                    }, this);
                });

                //
                $.get('http://tlsg.tk/api/category/sub-list/59e321f42a36f02f45b3fdcc', function (data, status) {
                    data.forEach(element => {
                        $('#sub_category')
                            .append($('<option></option>')
                                .attr('value', element._id)
                                .text(element.sub_category_name));

                    });
                });

                $('#category').change(function () {
                    let a = $('#category').val();
                    $('#sub_category option').remove();
                    $('#sub_category')
                        .append($('<option></option>')
                            .attr('value', 'all')
                            .text('All Sub Category'));

                    $.get('http://tlsg.tk/api/category/sub-list/' + a, function (data, status) {
                        data.forEach(element => {
                            $('#sub_category')
                                .append($('<option></option>')
                                    .attr('value', element._id)
                                    .text(element.sub_category_name));

                        });
                    });
                });



                let txt = '';
                $('#txtSearch').keyup(function () {
                    txt = document.getElementById('txtSearch').value;
                    $.get('http://tlsg.tk/api/places/filter?name=' + txt, function (data, status) {
                        $('#tableLP tbody').empty();
                        data.places.forEach(function (el) {
                            console.log(el.ad);
                            $('#tableLP').find('tbody')
                                .append($('<tr>')

                                    .append($('<td>')
                                        .html(`<div class="place-name">
                                                        ${el.place_name}
                                                    </div>
                                                    <div class="action">
                                                        <a class="btnEdit" href="http://tlsg.tk/admin/edit-place/place-id/${el._id}">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </a>
                                                        <a class="btnDelete" id="${el._id}">
                                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                        </a>
                                                    </div>`)
                                    )
                                    .append($('<td>')
                                        .text(el.address))
                                    .append($('<td>')
                                        .text(el.province.province_name))
                                    .append($('<td>')
                                        .text(el.subcategory.sub_category_name))
                                    .append($('<td>')
                                        .text('Admin'))
                                    .append($('<td>')
                                        .text(el.tag))
                                    // .append($('<td>')
                                    //     .text('30/11/2017'))
                                    .append($('<td>')
                                        .text(el.rating))


                                );

                        }, this);

                    });

                });

                // sort by province
                $('#province').change(function () {
                    let province_id = $('#province').val();
                    $.get('http://tlsg.tk/api/places/filter?province_id=' + province_id + '&category_id=all', function (data, status) {
                        $('#tableLP tbody').empty();
                        data.places.forEach(function (el) {
                            // console.log(el.ad);
                            $('#tableLP').find('tbody')
                                .append($('<tr>')

                                    .append($('<td>')
                                        .html(`<div class="place-name">
                                                        ${el.place_name}
                                                    </div>
                                                    <div class="action">
                                                        <a class="btnEdit" href="http://tlsg.tk/admin/edit-place/place-id/${el._id}">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </a>
                                                        <a class="btnDelete" id="${el._id}">
                                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                        </a>
                                                    </div>`)
                                    )
                                  .append($('<td>')
                                        .text(el.address))
                                    .append($('<td>')
                                        .text(el.province.province_name))
                                    .append($('<td>')
                                        .text(el.subcategory.sub_category_name))
                                    .append($('<td>')
                                        .text('Admin'))
                                    .append($('<td>')
                                        .text(el.tag))
                                    // .append($('<td>')
                                    //     .text('30/11/2017'))
                                    .append($('<td>')
                                        .text(el.rating))


                                );

                        }, this);
                    });
                });
                // sort by subcategory
                $('#category').change(function () {
                    let category_id = $('#category').val();
                    $.get('http://tlsg.tk/api/places/category?category_id=' + category_id, function (data, status) {
                        $('#tableLP tbody').empty();
                        data.places.forEach(function (el) {
                            $('#tableLP').find('tbody')
                                .append($('<tr>')

                                    .append($('<td>')
                                        .html(`<div class="place-name">
                                                        ${el.place_name}
                                                    </div>
                                                    <div class="action">
                                                        <a class="btnEdit" href="http://tlsg.tk/admin/edit-place/place-id/${el._id}">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </a>
                                                        <a class="btnDelete" id="${el._id}">
                                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                        </a>
                                                    </div>`)
                                    )
                                  .append($('<td>')
                                        .text(el.address))
                                    .append($('<td>')
                                        .text(el.province.province_name))
                                    .append($('<td>')
                                        .text(el.subcategory.sub_category_name))
                                    .append($('<td>')
                                        .text('Admin'))
                                    .append($('<td>')
                                        .text(el.tag))
                                    // .append($('<td>')
                                    //     .text('30/11/2017'))
                                    .append($('<td>')
                                        .text(el.rating))


                                );

                        }, this);
                    });
                });

                // sort by sub category
                $('#sub_category').change(function () {
                    let sub_category_id = $('#sub_category').val();
                    $.get('http://tlsg.tk/api/places/filter?sub_category_id=' + sub_category_id, function (data, status) {
                        $('#tableLP tbody').empty();
                        data.places.forEach(function (el) {
                            $('#tableLP').find('tbody')
                                .append($('<tr>')
                                    .append($('<td>')
                                        .html(`<div class="place-name">
                                                        ${el.place_name}
                                                    </div>
                                                    <div class="action">
                                                        <a class="btnEdit" href="http://tlsg.tk/admin/edit-place/place-id/${el._id}">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </a>
                                                        <a class="btnDelete" id="${el._id}">
                                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                        </a>
                                                    </div>`)
                                    )
                                   .append($('<td>')
                                        .text(el.address))
                                    .append($('<td>')
                                        .text(el.province.province_name))
                                    .append($('<td>')
                                        .text(el.subcategory.sub_category_name))
                                    .append($('<td>')
                                        .text('Admin'))
                                    .append($('<td>')
                                        .text(el.tag))
                                    // .append($('<td>')
                                    //     .text('30/11/2017'))
                                    .append($('<td>')
                                        .text(el.rating))


                                );

                        }, this);
                    });
                });

                $('body').on('click', '#tableLP tr td .action .btnDelete', function () {
                    $('#hiddenVal').val($(this).attr('id'));
                    $('#myModal').modal('show');
                });

                $('#myModal').on('click', '#btnDeleteYes', function () {
                    let id = $('#hiddenVal').val();
                    console.log(id)
                    $.post('http://tlsg.tk/api/place/remove', {
                        token: '6ba2b9df31680dcda5a4a083',
                        place_id: id
                    }, function (data, status) {
                        if (data.status == 200) {
                            $('#modalDeleteSuccess').modal('show');
                            $('#modalDeleteSuccess').on('click', '#btnOk', function () {
                                window.location.href = 'http://tlsg.tk/admin/list-place';
                            });
                        } else {
                            $('#modalFail').modal('show');
                        }

                    });
                });

                $.get('http://tlsg.tk/api/category/list', function (data, status) {
                    data.forEach(element => {
                        $('#category')
                            .append($('<option></option>')
                                .attr('value', element._id)
                                .text(element.category_name));

                    });
                });

                $.get('http://tlsg.tk/api/places/list', function (data, status) {

                    $('#number_places').text(data.count);
                });

                $.get('http://tlsg.tk/api/province/list', function (data, status) {
                    var i = 0;
                    $.each(data, function (key, value) {
                        $('#province')
                            .append($("<option></option>")
                                .attr("value", data[i]._id)
                                .text(data[i].province_name));
                        i++;
                    });

                });


            });
        </script>
</body>

</html>