<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>API Travel Suggestion</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" type="image/x-icon" href="../public/images/travel.png" />

  <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="../public/css/api.css" rel="stylesheet">

</head>

<body id="api">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Travel Suggestion API</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/admin">Dash Board</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="introduce">
          <h1 id="c1">Welcome to</h1>
          <h1 id="c2">Travel Suggestion API</h1>
          <h3 id="c3">&ldquo; The world is a book, and those who don't travel only read one page &rdquo;</h3>
          <!-- <p id="c3">and those who don't travel only read one page &rdquo;</p> -->
          <h3 id="c4">- Sain Augustine -</h3>
        </div>
      </div>
    </div>
  </div>
  <script src="../public/vendor/jquery/jquery.min.js"></script>
</body>

</html>