<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=title%></title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../public/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <% include ./layout/nav%>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Chỉnh sửa địa điểm du lịch</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->

                <div class="row">
                  <form class="form-group" action="index.html" method="post">
                      <div class="row">
                        <div class="col-md-8">
                          <label for="">Place Names</label>
                          <input class="form-control" type="text" name="place_name" value="" placeholder="Place Names here...">
                          <label>Thumbnail </label>
                          <input class="btn btn-default btn-file" type="file" name="upload_file" value="Select file">
                        </div>
                      </div>
                      <!-- /.row -->
                      <div class="row">
                        <div class="col-md-4">
                          <label for="">Category</label>
                          <select class="form-control" id="sub_category">
                            <option value="1_1">Thiên nhiên</option>
                            <option value="1_2">Tâm linh</option>
                            <option value="1_3">Di sản văn hóa thế giới</option>
                            <option value="1_4">Bảo tàng</option>
                            <option value="1_5">Làng quê</option>
                          </select>

                          <label>Province </label>
                          <select class="input-small form-control" id="province">
                            <option value="1">Hà Nội</option>
                            <option value="2">Huế</option>
                            <option value="3">Đà Nẵng</option>
                          </select>
                          <label for="">Address</label>
                          <div id="locationField">
                            <input class="form-control" id="autocomplete" placeholder="Enter address ..." onFocus="geolocate()" type="text"></input>
                          </div>

                          <script>
                            // This example displays an address form, using the autocomplete feature
                            // of the Google Places API to help users fill in the information.

                            // This example requires the Places library. Include the libraries=places
                            // parameter when you first load the API. For example:
                            // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

                            var placeSearch, autocomplete;
                            var componentForm = {
                              street_number: 'short_name',
                              route: 'long_name',
                              locality: 'long_name',
                              administrative_area_level_1: 'short_name',
                              country: 'long_name',
                              postal_code: 'short_name'
                            };

                            function initAutocomplete() {
                              // Create the autocomplete object, restricting the search to geographical
                              // location types.
                              autocomplete = new google.maps.places.Autocomplete(
                                  /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
                                  {types: ['geocode']});

                              // When the user selects an address from the dropdown, populate the address
                              // fields in the form.
                              autocomplete.addListener('place_changed', fillInAddress);
                            }

                            function fillInAddress() {
                              // Get the place details from the autocomplete object.
                              var place = autocomplete.getPlace();

                              for (var component in componentForm) {
                                document.getElementById(component).value = '';
                                document.getElementById(component).disabled = false;
                              }

                              // Get each component of the address from the place details
                              // and fill the corresponding field on the form.
                              for (var i = 0; i < place.address_components.length; i++) {
                                var addressType = place.address_components[i].types[0];
                                if (componentForm[addressType]) {
                                  var val = place.address_components[i][componentForm[addressType]];
                                  document.getElementById(addressType).value = val;
                                }
                              }
                            }

                            // Bias the autocomplete object to the user's geographical location,
                            // as supplied by the browser's 'navigator.geolocation' object.
                            function geolocate() {
                              if (navigator.geolocation) {
                                navigator.geolocation.getCurrentPosition(function(position) {
                                  var geolocation = {
                                    lat: position.coords.latitude,
                                    lng: position.coords.longitude
                                  };
                                  var circle = new google.maps.Circle({
                                    center: geolocation,
                                    radius: position.coords.accuracy
                                  });
                                  autocomplete.setBounds(circle.getBounds());
                                });
                              }
                            }
                          </script>
                          <input class="btn btn-primary" style="margin-top:20px;" type="submit" name="" value="Thêm địa điểm">
                        </div>
                    </div>
                    <!-- /.row -->
                  </form>
                  <!-- /form -->
                </div>
                <!-- .row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ_AZwWhIPQYTsAccJQe1yzvBM1qNNEVQ&libraries=places&callback=initAutocomplete"
       async defer></script>
    <!-- jQuery -->
    <script src="../public/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../public/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../public/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../public/dist/js/sb-admin-2.js"></script>

</body>

</html>
