<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Travel Suggestion</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

</head>

<body>

    <% include ./layout/nav%>

        <div class="page-content">
            <div class="container">
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-calendar-o fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" id="number_event">26</div>
                                        <div>Event!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right">
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-globe fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" id="number_places">12</div>
                                        <div>Places</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right">
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-newspaper-o fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" id="number_news">124</div>
                                        <div>News!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right">
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-envelope-o fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">13</div>
                                        <div>Support Tickets!</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right">
                                        <i class="fa fa-arrow-circle-right"></i>
                                    </span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="news-section">Hot News</h3>
                        <hr class="line-news-section">
                    </div>
                </div>
                <!-- start row -->
                <div class="row" id="hot-news">
                  
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="news-section">Hot Place</h3>
                        <hr class="line-news-section">
                    </div>
                </div>
                <!-- start row -->
                <div class="row" id="hot-place">
                
                </div>
                <!-- end row -->
            </div>
        </div>


        <script src="../assets/js/jquery-3.2.1.min.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/a6499bd878.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#dismiss, .overlay').on('click', function () {
                    $('#sidebar').removeClass('active');
                    $('.overlay').fadeOut();
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').addClass('active');
                    $('.overlay').fadeIn();
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });

                $.get('http://tlsg.tk/api/places/list', function (data, status) {

                    $('#number_places').text(data.count);
                });

                $.get('http://tlsg.tk/api/news/list', function (data, status) {

                    $('#number_news').text(data.count);
                });

                $.get('http://tlsg.tk/api/event/filter?province_id=all',function(data,status){
                    $('#number_event').text(data.count);
                });

                // hot news
                $.get('http://tlsg.tk/api/news/list?p=0&l=8', function (data, status) {
                    // console.log(data);
                    data.news.forEach(function (el) {
                        $(`<div class="col-md-3">

                <div class="news-item">
                    <div class="news-thumbnail">
                        <a href="http://tlsg.tk/admin/show-news/${el._id}">
                            <img class="img-responsive" src="${el.thumbnail}" alt="">
                        </a>
                    </div>
                    <div class="news-title">
                        <div class="title">
                            <a href="http://tlsg.tk/admin/show-news/${el._id}">${el.title}</a>
                        </div>
                    </div>
                    <div class="news-info">
                        <p class="author"> Admin</p>
                        <p class="date">${el.date.substring(0,10)}</p>
                        <p class="hour">${el.date.substring(11,19)}</p>
                    </div>
                </div>
            </div>` ).appendTo($("#hot-news"));
                    }, this);
                });

                // hot place
                 $.get('http://tlsg.tk/api/places/list?p=0&l=8', function (data, status) {
                    // console.log(data);
                    data.places.forEach(function (el) {
                        $(`<div class="col-md-3">

                <div class="place-item">
                    <div class="news-thumbnail">
                        <a href="">
                            <img class="img-responsive" src="${el.thumbnail}" alt="">
                        </a>
                    </div>
                    <div class="place-title">
                        <div class="title">
                            <a href="">${el.place_name}</a>
                        </div>
                    </div>
                    <div class="place-info">
                        <p class="address">${el.address}</p>
                   
                    </div>
                </div>
            </div>` ).appendTo($("#hot-place"));
                    }, this);
                });
            });

        </script>
</body>

</html>