<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=title%>
    </title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
</head>

<body class="login">
    <div id="form-login">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <form method="post">
                        <div id="login-header">
                            <h1>TRAVEL SUGGESTION</h1>
                            <hr>
                        </div>
                        <div id="login-content">
                            <input id="username" name="email" class="form-control" type="text" placeholder="Username...">
                            <input id="password" name="password" class="form-control" type="password" placeholder="Password...">
                            <div id="forget_passs">
                                <a id="forget_pass" href="">Forgot password &#63;</a>
                            </div>
                            <div id="btn-signin">
                                <input class="btn btn-primary btn-block" id="bt-submit" type="submit" value="Sign in">
                                <hr>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="../assets/js/jquery-3.2.1.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/a6499bd878.js"></script>
</body>

</html>