<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>
    <%=title%>
  </title>

  <!-- Bootstrap Core CSS -->
  <link href="../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- MetisMenu CSS -->
  <link href="../public/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../public/dist/css/sb-admin-2.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>

</head>

<body>

  <div id="wrapper">

    <!-- Navigation -->
    <% include ./layout/nav%>

      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">Viết Bài Review</h1>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <form class="form-group" action="index.html" method="post" id="postForm" enctype="multipart/form-data" onsubmit="return postForm()">
          <div class="row">
            <div class="form-group">
              <label>Title</label>
              <input class="form-control" placeholder="Write News title here..." type="text" name="title" id="title" value="">
              <label>Category </label>
              <div class="row">
                <div class="col-md-4">
                  <select class="input-small form-control" id="category">
                  </select>
                  <label>Province </label>
                  <select class="input-small form-control" id="province">
                  </select>

                  <label>Thumbnail </label>
                  <input class="form-control" type="text" id="thumbnail" placeholder="Thumbnail...">
                  <label for="">Tag</label>
                  <input class="form-control" type="text" name="" id="tag">
                </div>
              </div>
            </div>
          </div>
          <!-- /.row -->
          <div class="row">
            <textarea class="input-block-level" id="summernote" name="content" rows="18">
      			</textarea>
            <input class="btn btn-primary" style="margin-bottom:20px;" type="button" name="submit" id="bt_submit" value="Đăng bài">

          </div>

        </form>
      </div>
      <!-- /#page-wrapper -->

  </div>
  <!-- /#wrapper -->

  <script>
    $(document).ready(function () {
      $('#summernote').summernote({
        height: 500,
        toolbar: [
          ['style', ['hr', 'bold', 'italic', 'underline', 'clear']],
          ['fontsize', ['fontname', 'fontsize']],
          ['color', ['color']],
          ['para', ['style', 'ul', 'ol', 'paragraph', 'height']],
          ['height', ['height']],
          ['insert', ['picture', 'link', 'video', 'table']],
          ['misc', ['fullscreen', 'codeview', 'undo', 'redo', 'help']]
        ]
      });

      var postForm = function () {
        var content = $('#summernote').summernote('code');
        return content;
      }

      $.get('http://tlsg.tk/api/province/list', function (data, status) {
        var i = 0;
        $.each(data, function (key, value) {
          $('#province')
            .append($("<option></option>")
              .attr("value", data[i]._id)
              .text(data[i].province_name));
          i++;
        });

      });

      $.get('http://tlsg.tk/api/category/list', function (data, status) {
        data.forEach(element => {
          $('#category')
            .append($('<option></option>')
              .attr('value', element._id)
              .text(element.category_name));

        });
      });


      $('#bt_submit').click(function () {
        let a = $('#title').val();
        let b = $('#category').val();
        let c = $('#province').val();
        let d = postForm();
        let e = $('#tag').val();
        let f = $('#thumbnail').val();
        let g = new Date();
        console.log('A: ' + a + ' B: ' + b + ' C: ' + c + ' D: ' + d +' E:'+e+' F:'+f+' G:'+g);
        $.post('http://tlsg.tk/api/news/add',{
          title: a,
          category_id: b,
          province_id: c,
          content: d,
          tag: e,
          thumbnail: f,
          date: g,
          token: '6ba2b9df31680dcda5a4a083'
        },function(data,message){
          if(data.status==200){
            
          }
        });
      });

    });
  </script>
  
  <!-- jQuery -->
  <!-- <script src="../vendor/jquery/jquery.min.js"></script> -->

  <!-- Bootstrap Core JavaScript -->
  <!-- <script src="../vendor/bootstrap/js/bootstrap.min.js"></script> -->

  <!-- Metis Menu Plugin JavaScript -->
  <script src="../public/vendor/metisMenu/metisMenu.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="../public/dist/js/sb-admin-2.js"></script>

</body>

</html>