body{
  background-image: url("../images/background.png") ;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#c1{
  text-align: center;
  font-weight: 400;
  color: rgba(239, 243, 245, 1);

}

#c2{
  text-align: center;
  font-weight: 600;
  color: rgb(33, 211, 222);
}

#c3{
  text-align: center;
  color: rgb(241, 249, 250);
  font-size: 20;
  margin-top: 50px;
}
#c4{
  text-align: center;
  color: rgb(241, 249, 250);
}
h3{
  font-size: 18px;
  font-family: cursive;
}
