<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div id="dismiss">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </div>

        <div class="sidebar-header">
            <h3>TRAVEL SUGGESTION</h3>
        </div>

        <ul class="list-unstyled components">
            <p id="index"><a href="http://tlsg.tk/admin">Dashboard Admin</a></p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Places</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="http://tlsg.tk/admin/all-places">Manager Places</a>
                    </li>
                    <li>
                        <a href="http://tlsg.tk/admin/add-place">Add New Place</a>
                    </li>
                    <li>
                        <a href="#">Introduce</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">News</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="http://tlsg.tk/admin/all-news">Manager News</a>
                    </li>
                    <li>
                        <a href="http://tlsg.tk/admin/add-news">Add New News</a>
                    </li>
                    <li>
                        <a href="#">Introduce</a>
                    </li>
                </ul>
            </li>
          
            <li>
                <a href="http://tlsg.tk/admin/all-event">Manager Event</a>
            </li>
            <li>
                <a href="http://tlsg.tk/admin/add-event">Add New Event</a>
            </li>
            <li>
                <a href="#">Rules</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-default">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="glyphicon glyphicon-align-left"></i>
                        <span>Menu</span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a>Hello Admin !</a>
                        </li>
                        <li>
                            <a href="http://tlsg.tk/admin/logout">Logout
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>


    </div>
</div>



<div class="overlay">
</div>